<section class="bg-gray">
  <div class="container-fluid bg-gray">
    <div class="container">
      <div class="row m-0 justify-content-between">
        <h1 class="text-center p-5">Features of TripSecure+</h1>
        <div class="col-md-4">
          <div class="p-3">
            <div>
              <img
                src="/travel-insurance-assets/Benefits/covers-loss.webp"
                alt=""
                class="img-fluid h-25"
              />
            </div>
            <h4 class="mt-2">Pre-existing conditions</h4>
            <p>
              No need to worry about existing health issues—this policy covers pre-existing medical
              conditions, making it especially valuable for senior citizens and those with ongoing
              health needs.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3">
            <img
              src="/travel-insurance-assets/Benefits/covers-loss.webp"
              alt=""
              class="img-fluid h-25"
            />

            <h4 class="mt-2">Adventure sports</h4>
            <p>
              Thrill-seekers, rejoice! Enjoy your high-adrenaline adventures with peace of mind.
              This policy offers comprehensive coverage for a wide range of adventure sports, from
              skydiving to scuba diving, ensuring you're protected during all your extreme
              activities.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3">
            <img
              src="/travel-insurance-assets/Benefits/covers-loss.webp"
              alt=""
              class="img-fluid h-25"
            />

            <h4 class="mt-2">Customisable coverage</h4>
            <p>
              Tailor your policy to fit your unique travel needs. You can easily adjust your
              coverage to include or exclude specific protection, ensuring that your policy works
              for your specific trip, whether it’s a relaxing beach getaway or a rugged outdoor
              adventure.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3">
            <img
              src="/travel-insurance-assets/Benefits/covers-loss.webp"
              alt=""
              class="img-fluid h-25"
            />

            <h4 class="mt-2">Car rental and cruise coverage</h4>
            <p>
              Travelling abroad and renting a car? This policy has you covered with protection for
              car rentals, ensuring you're safeguarded from potential issues. Additionally, it
              includes unique coverage for cruise travel, offering protection for cruise-specific
              risks like missed port or emergencies at sea.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3">
            <img
              src="/travel-insurance-assets/Benefits/covers-loss.webp"
              alt=""
              class="img-fluid h-25"
            />

            <h4 class="mt-2">Extensive protection</h4>
            <p>
              This policy covers it all—from pre-existing medical conditions to high-risk activities
              like adventure sports—ensuring you’re comprehensively protected no matter what type of
              trip you take.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3">
            <img
              src="/travel-insurance-assets/Benefits/covers-loss.webp"
              alt=""
              class="img-fluid h-25"
            />

            <h4 class="mt-2">For the modern traveller</h4>
            <p>
              Whether you're renting a car for a road trip abroad or setting sail on a luxurious
              cruise, this policy includes essential options like car rental coverage and
              cruise-specific protections designed for today’s traveller.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid bg-gray">
    <div class="container">
      <div class="row m-0 justify-content-between">
        <h1 class="text-center pt-5">Benefits of Single Trip Holiday Insurance</h1>
        <p class="text-center">
          This single trip travel insurance policy offers numerous benefits, including:
        </p>
        <div class="col-md-6 p-3">
          <div class="bg-white rounded-4 p-3 h-100">
            <div></div>
            <h5 class="mt-2">A Wide Range of Covers</h5>
            <p>
              This single-trip insurance policy provides a wide range of 50 different coverage
              options, allowing you to tailor your plan based on your specific needs. Whether you're
              traveling for business or leisure, you can choose from various covers.
            </p>
          </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="bg-white rounded-4 p-3 h-100">
            <h5 class="mt-2">Offers Adventure Sports Insurance Coverage</h5>
            <p>
              Whether you're hitting the slopes or exploring the depths of the ocean, TripSecure+
              offers comprehensive coverage for adventure sports.
            </p>
          </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="p-3 bg-white rounded-4 h-100">
            <h5 class="mt-2">Emergency Assistance</h5>
            <p>
              The single trip travel insurance policy offers comprehensive coverage to handle
              financial emergencies while you're traveling. It ensures that you can receive
              emergency cash if unexpected situations arise. This helps you manage sudden expenses
              without stress.
            </p>
          </div>
        </div>
        <div class="col-md-6 p-3">
          <div class="bg-white rounded-4 p-3 h-100">
            <h5 class="mt-2">Daily Hospital Allowances</h5>
            <p>
              This one trip travel insurance policy provides daily hospital allowances, covering
              your medical needs in case of illness or injury during the trip, so you can focus on
              recovery rather than finances.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Reasons to Buy Single Trip Travel Insurance -->
<section>
  <div class="container-fluid bg-blue text-white p-5">
    <div class="container">
      <h2 class="text-center">Reasons to Buy Single Trip Travel Insurance</h2>
      <p class="text-center">
        Some compelling reasons to buy this single trip travel insurance plan include:
      </p>
      <div class="row">
        <div class="col-md-6">
          <h5>Holistic Coverage</h5>
          <p>
            This single trip travel insurance policy provides comprehensive coverage, ensuring you
            are protected throughout your journey. Whether you're traveling for business, leisure,
            or any other purpose, it safeguards you against unexpected events such as medical
            emergencies, trip cancellations, lost baggage, or flight delays.
          </p>
          <p>
            With this one trip travel insurance plan, you can travel with peace of mind, knowing you
            have all-around protection in case things don't go as planned.
          </p>
        </div>
        <div class="col-md-6">
          <h5>Add-ons to Fortify Coverage</h5>
          <p>
            This single trip insurance policy provides a range of valuable add-ons designed to
            enhance and strengthen the coverage. These additional features can be tailored to suit
            your needs, ensuring comprehensive protection throughout the journey. Some add-ons
            available with this single trip insurance plan are:
          </p>
          <ul>
            <li>Child care expenses due to hospitalisation add-on</li>

            <li>Refund of VISA fee add-on and so on</li>
            <li>Rental vehicle return add-on</li>
            <li>Reimbursement of cancellation charges of pre-booked events add-on</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container mt-5 sectiontype">
  <h1 class=" text-center">Types of Travel Insurance</h1>
  <mat-tab-group
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    cdkDropListElementContainer=".mat-mdc-tab-labels"
    class="example-drag-tabs"
    [(selectedIndex)]="selectedTabIndex"
    animationDuration="0"
  >
    @for (tab of tabs(); track $index) {
      <mat-tab>
        <ng-template mat-tab-label>
          <span
            cdkDrag
            cdkDragPreviewClass="example-drag-tabs-preview"
            cdkDragRootElement=".mat-mdc-tab"
            >{{ tab }}</span
          >
        </ng-template>

        <!-- <h3> {{ tab }}</h3> -->
        @if ($index === 0) {
          <div class="col-md-12 d-flex justify-content-between mt-5">
            <div class="col-md-6 p-3">
              <div class="">
                <div class="card-body">
                  <h5 class="card-title">Cruise Insurance</h5>
                </div>
                <p>
                  This one trip travel insurance policy provides comprehensive coverage for a cruise
                  journey, ensuring you are protected against unforeseen events during your trip.
                  The cruise insurance coverage includes coverage for medical emergencies, trip
                  cancellations, delays, lost luggage, and other travel-related issues, offering
                  peace of mind while cruising.
                </p>
              </div>
            </div>
            <div class="col-md-6 p-3">
              <div class="">
                <div class="card-body">
                  <h5 class="card-title">EBC Trek Insurance</h5>
                </div>
                <p>
                  This single trip holiday insurance policy provides comprehensive coverage for
                  trekkers embarking on the Everest Base Camp (EBC) trek, ensuring protection
                  against unforeseen circumstances. Designed specifically for the demanding
                  conditions of the EBC trek, the policy financially safeguards you throughout your
                  journey in one of the world's most challenging regions. This EBC trek insurance is
                  tailored to meet the unique risks of high-altitude trekking and remote areas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-between mt-5">
            <div class="col-md-6 p-3">
              <div class="">
                <div class="card-body">
                  <h5 class="card-title">Adventure Travel Insurance</h5>
                </div>
                <p>
                  This single trip holiday insurance policy serves as specialised travel insurance
                  for adventure travel, offering coverage for medical treatment required due to
                  accidents sustained during adventure sports. Whether you're engaging in activities
                  like skiing or bungee jumping, this travel insurance covering extreme sports
                  ensures that you are financially protected in the event of an injury.
                </p>
              </div>
            </div>
          </div>
        }

        @if ($index === 1) {
          <div class="col-md-12 d-flex justify-content-between mt-5">
            <div class="col-md-6">
              <ul>
                <li class="p-2">Events before the trip starts or after it ends</li>
                <li class="p-2">
                  Fraudulent claims, false declarations, or willful damage by the insured
                </li>

                <li class="p-2">Involvement in murder, assault, or criminal acts</li>
                <li class="p-2">
                  Participation in hazardous/adventure sports (unless premium is paid for coverage)
                </li>
                <li class="p-2">Intentional self-injury, suicide, or intoxication</li>
                <li class="p-2">
                  Traveling against medical advice, awaiting specific treatments with terminal
                  prognosis, seeking treatment, or involved in military/naval operations
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li class="p-2">
                  Anxiety, stress, depression, or venereal diseases Claims below the deductible or
                </li>
                <li class="p-2">time excess in the policy schedule</li>
                <li class="p-2">War, rebellion, riots, or government actions</li>
                <li class="p-2">Injuries from criminal acts by the insured</li>
                <li class="p-2">Overseas trips exceeding 90 days on an immigrant visa</li>
                <li class="p-2">Professional/semi-professional sports without prior declaration</li>
                <li class="p-2">Nuclear radiation or contamination</li>
              </ul>
            </div>
          </div>
          <p class="text-center">There are cover-specific exclusions apart from general exclusions which need to be referred to. The details are available in the product’s policy wording.</p>
        }
      </mat-tab>
    }
  </mat-tab-group>
  <hr>
</section>
<section>
     <div class="container-fluid bg-blue text-white p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 p-3">
                <h3>Why should you buy TripSecure+ travel insurance online?</h3>
                <p> <span class="fw-bold"> Customisable coverage</span>- TripSecure+ allows you to easily adjust your coverage to suit your travel plans. Whether it’s adding adventure sports cover or protecting your car rental, you can build a policy that works for you.</p>
                 <p><span class="fw-bold">Quick and easy</span> - Purchase TripSecure+ online with just a few clicks, and have your travel insurance policy delivered directly to your inbox. No need to visit an office or deal with paperwork.</p>
                  <p><span class="fw-bold"> Contactless and secure-</span> Buying travel insurance online means getting a fully digital policy that ensures you're covered for all your trip essentials, right from your mailbox.</p>
            </div>
            <div class="col-md-5 p-3">
                <img src="/travel-insurance-assets/purchase-online.svg" alt="">
            </div>
        </div>
        </div>
        </div>

</section>

