<section class="leftside-panel">
  <div class="title">
    <h1>Save time and money with<br />Multi-Trip Travel Insurance</h1>
  </div>
  <div class="feature">
    <div class="feature-list">
      <img class="feature-icon"
        src="https://www.icicilombard.com/docs/default-source/assets/travel/travel-landing-revamp/images/year_long.svg">
      <div class="feature-text">1 year validity</div>
    </div>
    
    <div class="feature-list">
      <img class="feature-icon" 
        src="https://www.icicilombard.com/docs/default-source/assets/travel/travel-landing-revamp/images/multiple_cov.svg">
        <div class="feature-text">Multiple coverage options</div>
    </div>

    <div class="feature-list">
      <img class="feature-icon"
        src="https://www.icicilombard.com/docs/default-source/assets/travel/travel-landing-revamp/images/cashless_treatment.svg">
      <div class="feature-text">Cashless treatment in hospitals</div>
    </div>
    </div>

    <div>
      <img src="https://www.icicilombard.com/docs/default-source/assets/travel/travel-landing-revamp/images/travel_multi_trip.svg">
      </div>
</section>



<div class="col-lg-12">
                    <div class="whychooseusSec">
                        <h2 class="headingTxt">Millions of Indians love us because</h2>
                        <div class="whychooseusBlock">
                            <ul>
                                <li>
                                    <span>
                                        <img class="img-responsive lazy loaded" alt="Anywhere-Cashless-hospitalisation" src="/docs/default-source/assets/travel/travel-landing-revamp/images/cashless-hospitlization.svg" data-ll-status="loaded">
                                    </span>
                                    <div class="whychooseDetails">
                                        <h5>Cashless hospitalisation<sup>*</sup></h5>
                                    <p>Worldwide cashless medical facility on your international trip</p>
                                    </div>
                                </li>
                                <li>
                                    <span>
                                        <img class="img-responsive lazy loaded" alt="IL-take-care-app" src="/docs/default-source/assets/travel/travel-landing-revamp/images/il-take-care-app.svg" data-ll-status="loaded">
                                    </span>
                                    <div class="whychooseDetails">
                                        <h5>IL Take Care app</h5>
                                        <p>Quick claim intimation, Food calorie check etc</p>
                                    </div>
                                </li>
                                <li>
                                    <span>
                                        <img class="img-responsive lazy loaded" alt="customer-support" src="/docs/default-source/assets/travel/travel-landing-revamp/images/customer-support.svg" data-ll-status="loaded">
                                    </span>
                                    <div class="whychooseDetails">
                                        <h5>24x7 customer support</h5>
                                        <ul>
                                            <li>Phone</li>
                                            <li>Chat</li>
                                            <li>Mail</li>
                                            <li>Visit: 330+ branches<sup>E</sup></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>