<div class="menu-item" (click)="openPage('group-health-insurance')">
    <span>Group Health Insurance</span>
    <span>➜</span>
</div>

<div class="menu-item" (click)="openPage('marine-insurance')">
    <span>Marine Insurance</span>
    <span>➜</span>
</div>

<div class="menu-item" (click)="openPage('employee-compensation')">
    <span>Employee Compensation</span>
    <span>➜</span>
</div>


<div class="menu-item" (click)="openPage('fire-insurance')">
    <span>Fire Insurance</span>
    <span>➜</span>
</div>